.bank-container {
  margin: 2rem auto;
  display: flex;
}

.bank-container > h3 {
  font-size: 2.5rem;
  width: 50%;
  text-align: right;
}

.amount {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--green-color);
  margin-left: 1rem;
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .bank-container {
    margin: 1rem auto;
  }

  .bank-container > h3 {
    font-size: 2rem;
  }

  .amount {
    font-size: 2rem;
  }
}
