.nav {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
}

.buttons {
  display: flex;
  margin: 1rem 2rem;
  height: 100%;
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .buttons {
    margin: 1rem auto;
  }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
  .buttons {
    margin: 1rem auto;
  }
}

.buttons button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin: 0.75rem;
  color: var(--green-color);
  border-color: var(--green-color);
  background-color: var(--green-bg-color);
  border-width: 0.15rem;
  border-style: solid;
  border-radius: 1.25rem;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0.25rem 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .buttons button {
    padding: 0.25rem 0.25rem;
    margin: 0.5rem;
    font-size: 0.85rem;
  }
}

.california {
  width: 20rem;
  position: fixed;
  top: 0;
  left: 0.5rem;
  z-index: -1;
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .california {
    width: 14rem;
    left: 0.25rem;
  }
}

.logo-container {
  position: relative;
  left: 2rem;
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .logo-container {
    left: 1rem;
  }
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: var(--green-color);
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .logo {
    font-size: 3rem;
  }
}

.created-by {
  font-family: "Poppins", sans-serif;
  font-size: 0.6rem;
  font-weight: normal;
  text-align: right;
  position: relative;
  bottom: 0.8rem;
}

.created-by > a {
  color: black;
}

.verticalCenter {
  margin: auto 0;
}

.nav > h1 {
  font-size: 2rem;
  padding: 0.2rem;
}

.nav > h2 {
  font-size: 1rem;
  padding: 0.2rem;
}

.total {
  text-align: center;
  font-size: 3.5rem;
}
