.nav {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.california {
  width: 300px;
  height: 300px;
}

.logo-container {
  position: relative;
  left: 2rem;
}

.logo {
  font-family: "Poppins";
  font-size: 4rem;
  font-weight: bold;
  color: var(--green-color);
}

.created-by {
  font-family: "Poppins";
  font-size: 0.6rem;
  font-weight: normal;
  text-align: right;
  position: relative;
  bottom: 0.8rem;
}

.verticalCenter {
  margin: auto 0;
}

.nav > h1 {
  font-size: 2rem;
  padding: 0.2rem;
}

.nav > h2 {
  font-size: 1rem;
  padding: 0.2rem;
}

.total {
  text-align: center;
  font-size: 3.5rem;
}

@media only screen and (max-width: 600px) {
  .nav {
    justify-content: center;
    flex-direction: column;
  }

  .nav > h1,
  h2 {
    text-align: center;
  }
}
