.App {
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  background-image: url("./Assets/papyrus.png");
  background-size: 250px;
  background-repeat: repeat;
  --green-color: #4db828;
  --green-bg-color: #d1ffc1;
}

@media (orientation: portrait) {
  :root {
    overflow: hidden;
  }
}

.react-icons {
  vertical-align: middle;
  padding-bottom: 0.2rem;
}
