.button {
  width: fit-content;
  margin: 0 auto;
}

.button > button {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: var(--green-color);
  background-color: var(--green-bg-color);
  border-width: 0.25rem;
  border-radius: 4rem;
  border-color: var(--green-color);
  border-style: solid;
}
