.button {
  width: fit-content;
  margin: 0 auto;
}

.button > button {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  padding: 2rem;
  border-radius: 50%;
  color: green;
  background-color: #bcf5be;
  border-color: green;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
